<p>Dear{{ login }},</p>
<p>'Password recovery requested'</p>
<p>
  To finish password recovery please follow the link below:
  <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>